<script lang="ts">
	import type { Album, AlbumTracks } from '$lib/types';
	import type { PageData } from './$types';

	export let data: PageData;
	// conversion
	const d = data as {
		id: number;
		album: Album;
		tracks: AlbumTracks[];
		authorization: boolean;
	};
</script>

<div class="px-4">
	<h1 class="is-size-1">Album : {d.album.albumTitle}</h1>

	<p class="is-size-4">{d.album.artistName}</p>
</div>

<div class="m-3">
	<table class="table mt-6">
		<thead>
			<tr>
				<th>#</th>
				<th>Piste</th>
				<th>Temps</th>
			</tr>
		</thead>
		<tbody>
			{#each d.tracks as t, i}
				<tr>
					<td>{i + 1}</td>
					<td>{t.trackName}</td>
					<td>{Math.floor(t.trackMs / 1000)}s</td>
				</tr>
			{/each}
		</tbody>
	</table>

	{#if d.authorization}
		<h2 class="is-size-3 mb-4 mt-6">Update du titre de l'album</h2>

		<form method="post" action="?/updateAlbumTitle">
			<input
				class="input"
				type="text"
				name="albumTitle"
				placeholder={d.album.albumTitle}
				style="max-width: 50ch;"
			/>
			<input type="hidden" name="albumId" value={d.album.albumId} />
			<button class="button is-primary" type="submit">Update</button>
		</form>
	{/if}
</div>
