<script lang="ts">
	import type { ActionData } from './$types';

	export let form: ActionData;
</script>

<div class="container">
	<h1 class="is-size-3 has-text-weight-semibold my-4">Login or Register</h1>
	<form method="post">
		<input type="text" class="input my-2" placeholder="Username" name="username" required />
		<input type="password" class="input my-2" placeholder="Password" name="password" required />
		{#if form?.errorMessage}
			<div class="has-text-danger my-2">{form.errorMessage}</div>
		{/if}
		<button type="submit" class="button mt-4 mr-3" formaction="?/register">Register</button>
		<button type="submit" class="button mt-4 is-primary" formaction="?/login">Login</button>
	</form>
</div>
